<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Code 2 Learn</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- fontawesomwe -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!--  -->

    <!-- javascript -->
    <!-- 
    <script
      type="text/javascript"
      src="../../public/js/jquery-3.3.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../../public/js/jquery.markitup.js"
    ></script>

    <script
      type="text/javascript"
      src="../../public/js/markitup/sets/default/set.js"
    ></script>
   
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/js/markitup/skins/markitup/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/js/markitup/sets/default/style.css"
    />
 -->
    <div class="container-fluid">
      <div class="header">
        <div class="brand">
          <div class="brand">
            <h1>
              <a href="#"> </a>
              <p><i class="fa fa-code"></i> Code to Learn</p>
            </h1>
          </div>
        </div>
      </div>
      <div class="menu">
        <a href="/" class="active">Home</a>
        <a href="#">Online Tutorials</a>
        <a href="#">Sign up</a>
        <a href="/about">About us</a>
        <a href="/contact">Contact us</a>
      </div>
    </div>
  </head>
  <body></body>
</html>
