<%- include('partials/header');-%>

<h1 class=".text-light">Introduction</h1>
<p class=""><%= introContent %></p>
<div class="sidebars">
  <div class="sidebarWrapper">
    <div id="leftsidebar" class="sidebar">
      <h3>Go to:</h3>
      <ul>
        <li><a href="/les1"> Lesson 1.</a></li>
        <li><a href="/les2"> Lesson 2.</a></li>
        <li><a href="/les3"> Lesson 3.</a></li>
        <li><a href="/les4"> Lesson 4.</a></li>
        <li><a href="#"> Lesson 5.</a></li>
        <li><a href="#"> Lesson 6.</a></li>
        <li><a href="#"> Lesson 7.</a></li>
        <li><a href="#"> Lesson 8.</a></li>
        <li><a href="#"> Lesson 9.</a></li>
        <li><a href="#"> Lesson 10.</a></li>
        <li><a href="#"> Lesson 11.</a></li>
        <li><a href="#"> Lesson 12.</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebarWrapper">
    <div id="rightsidebar" class="sidebar">
      <h3>Text Editor</h3>

      <form action="">
        <label class="h3 text-light" for="">Code Here</label>
        <textarea
          class="form-control"
          name=""
          id=""
          cols="3"
          rows="15"
        ></textarea>
      </form>
    </div>
  </div>
</div>
<div class="clear"></div>

<%- include('partials/footer'); -%>
