<%- include('../lesheader');-%>
<%- include('lesson3Nav');-%>


  </div>
</section>

<h1 class="text-uppercase"> <span class="display-3 pt-0"> lesson 3:</span>  Body Tags</h1>
<div class="container">
  <div class="row">
    <div class="col-10 col-md-10 mx-auto pt-5">
      <p class="h3 text-uppercase">
        Body tags are the building blocks of any webpage.
      </p>
      <hr>
    </div>
    
  </div>

  <div class="row">
    <div class="col col-md-6">
      <h2 class="text-primary text-uppercase ml-3">Now, You will learn how to use this tags:</h2>
       <ol class="text-warning text-capitalize">

          <li> <\h1> </li>
          <li> <\p> </li>
          <li> <\br> </li>
        </ol>
    </div>
    <div class="col col-md-6  ">
     <img src="/img/l2.png" class="img-fluid my-3 mx-auto" alt="">

    </div>
  </div>

  <button class="btn btn-primary "><a class="text-warning" href="/les3/l1">Press here to proceed to lesson 1</a></button>
</div>

<%- include('../lesfooter'); -%>
