<%- include('../lesheader');-%>
<%- include('lesson2Nav');-%>


  </div>
</section>

<h1 class="text-uppercase"> <span class="display-3 pt-0"> lesson 2:</span>  HTML FRAMEWORK</h1>
<div class="container">
  <div class="row">
    <div class="col-10 col-md-10 mx-auto pt-5">
      <p class="h3 text-uppercase">
        In this Lessons, we will show you how to make a basic webpage.
      </p>
      <hr>
    </div>
    
  </div>

  <div class="row">
    <div class="col col-10 col-lg-6">
      <h2 class="text-primary text-uppercase ml-3">the 4 basic html tags are:</h2>
      <li class="text-warning text-capitalize">
        <ol>
          <h3 class="">doctype html</h3>
        </ol>
        <ol>
          <h3>html</h3>

        </ol>
        <ol>
          <h3>head</h3>

        </ol>
        <ol>
          <h3>body</h3>

        </ol>
      </li>
    </div>
    <div class="col col-10 col-lg-6 ">
      
     <img src="/img/l2.png" class="img-fluid my-3 mx-auto" alt="">
      

    </div>
     </div>
       <button class="btn btn-primary "><a class="text-warning" href="/les2/l1">Press here to proceed to lesson 1</a></button>
 
</div>

<%- include('../lesfooter'); -%>
