<%- include('../lesheader');-%>
<%- include('lesson4Nav');-%>


  </div>
</section>

<h1 class="text-uppercase"> <span class="display-3 pt-0"> lesson 4:</span>  Formatting</h1>
<div class="container">
  <div class="row">
    <div class="col-10 col-md-10 mx-auto pt-5">
      <p class="h3 text-uppercase">
        Normally, formatting is handled by CSS, but HTML does maintain some formatting tags.
      </p>
      <hr>
    </div>
    
  </div>

  <div class="row">
    <div class="col col-md-6">
      <h2 class="text-primary text-uppercase ml-3">You will learn how to add style to your text with only HTML markup. Tags you will use include:</h2>
       <ol class="text-warning text-capitalize">

          <li> < b > and < strong >  </li>
          <li> < i > and < em > </li>
          <li> < u > </li>
          <li> < small > </li>
        </ol>
    </div>
    <div class="col col-md-6  ">
     <img src="/img/l4.jpg" class="img-fluid my-3 mx-auto" alt="">

    </div>
  </div>

  <button class="btn btn-primary "><a class="text-warning" href="/les4/l1">Press here to proceed to topic 1</a></button>
</div>

<%- include('../lesfooter'); -%>
