<style>
  a:hover {
    text-decoration: none;
  }
</style>

<section class="services py-5" id="services">
  <div class="container-float">
    <div class="row">
      <div class="col-md-3 my-3">
        <h1 class="text-uppercase my-3 text-center">
          <a href="/les1/l1"> History of html </a>
        </h1>
        <!-- <p class="w-75 mx-auto text-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          perspiciatis repellendus porro ad iusto tempore!
        </p> -->
      </div>
      <div class="col-md-3 my-3">
        <h1 class="text-uppercase my-3 text-center">
          <a href="/les1/l2"> What is html </a>
        </h1>
        <!-- <p class="w-75 mx-auto text-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          perspiciatis repellendus porro ad iusto tempore!
        </p> -->
      </div>
      <div class="col-md-3 my-3">
        <h1 class="text-uppercase my-3 text-center">
          <a href="/les1/l3">Goals of HTML5</a>
        </h1>
        <!-- <p class="w-75 mx-auto text-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          perspiciatis repellendus porro ad iusto tempore!
        </p> -->
      </div>

      <div class="col-md-3 my-3">
        <h1 class="text-uppercase my-3 text-center">
          <a href="/les1/l4"> Html syntax </a>
        </h1>
        <!-- <p class="w-75 mx-auto text-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          perspiciatis repellendus porro ad iusto tempore!
        </p> -->
      </div>
    </div>
  </div>
</section>
