<%- include('../lesheader');-%>
<%- include('lesson1Nav');-%>


  </div>
</section>

<h1 class="text-uppercase"> <span class="display-3 pt-0"> lesson 1:</span> Introduction </h1>
<div class="container">
  <div class="row">
    <div class="col-10 col-md-10 mx-auto pt-5">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="text-warning text-uppercase bg-light px-5 h3">
            whatwg</span
          >
        </li>
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3"> founded in 2004</span>
        </li>
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3">
            reaction against the road the w3c was taking</span
          >
        </li>
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h4">
            <strong class="bg-light">xhtml</strong> was no failure, but XML part
            never really took off</span
          >
        </li>
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3">
            renewed focus on <strong class="bg-light">html</strong> and real
            world issues
          </span>
        </li>
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3">
            evolving instead of reinventing</span
          >
        </li>
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3">
            2007: whatwg joins forces with w3c</span
          >
        </li>

        <!--  -->

        <li class="list-group-item">
          <span class="text-warning text-uppercase bg-light px-5 h3">
            html wg</span
          >
        </li>
        <!--  -->
        <!--  -->
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h4">
            both groups now work on the html 5 spec</span
          >
        </li>
        <!--  -->
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3">
            all parties are now involved</span
          >
        </li>
        <!--  -->
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3">
            anyone can contribute!</span
          >
        </li>
        <!--  -->
        <li class="list-group-item">
          <span class="text-uppercase bg-light px-5 h3"
            >First public draft: jan 22,2008</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include('../lesfooter'); -%>
